.task-header-container {
  display: flex;
  width: 100%;
  padding: 4px 0;
  justify-content: space-between;
  align-items: center;
}

.leftover-time-task {
  color: #212121;
  font-size: 12px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  column-gap: 2px;
  font-style: italic;
  padding: 4px 8px;
  /* border: 1px solid gray; */
  border-radius: 12px;
  background-color: white;
  text-wrap: nowrap;
}

.task-body-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.task-title-text {
}

.task-description-text {
  margin: 0;
  font-size: 14px;
  color: #555;
  height: 100%;
}

.task-body-icons {
  height: fit-content;
  display: flex;
  column-gap: 6px;
  font-size: larger;
}

.task-icon {
  padding: 2px;
  cursor: pointer;
}

.task-body-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}